*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
}

body{
    min-height: 100vh;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.title{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
    font-size: xx-large;
}

.p{
    text-align: center;
    color: red;
    font-size: x-large;
    margin: 200px 0;
}