@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #fff;
}

#particles-js { /* particles-js render div id */
	width: 100%; /* setting width to all page */
	height: 100%; /* setting height to all page */
	background: black; /* background color of particles-js */
	position: fixed; /* position fixed */
}

.p{
    position: absolute; /* postulat de départ */

    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white; /* background of particles-js is black, I inverted the colors to see the text */

    margin: auto auto;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.a {
  font-weight: bold;
}
